body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased; /* Smooth fonts for WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth fonts for macOS */
}

@media (max-width: 786px){
  body{
    font-size: 14px;
  }
}

.container{
  max-width: 100%;
  padding: 0 0;

}

nav{
  z-index: 1001;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  max-width: 100%;
  top: 0;
  background-color: #070404;
}

/* .Logo{
  background-color: #e82424;
  padding: 10px;
} */

.nav-item{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-link{
  text-decoration: none;
  padding: 6px 10px;
  color: #828282;
}

.nav-link:hover{
  text-decoration: solid #00FF00;
}

/* Hero Section */

.heroSection{
  display: flex;
  padding: 40px 130px;
  background-color: #070404;
}

.imageSection{
  padding-right: 10%;
}

.textSection{
  padding-top: 20px;
  padding-left: 40px;
  margin-left: 20px;
}

.textSection h1{
  font-size: 64px;
  color: white;
  font-weight: 100;
}

.textSection h2{
  margin-top: -50px;
  font-size: 40px;
  color: white;
  font-weight: 100;
}

.textSection p{
  margin-top: -50px;
  font-size: 40px;
  color: white;
}

.textSection p span{
  color: #00FF00;
}